---
import Button from '@/components/button.astro';
import * as Form from '@/components/form';
import * as Grid from '@/components/grid';
import Icon from '@/components/icon.astro';
import * as ImageBox from '@/components/image-box';
import * as Select from '@/components/select';
import Text from '@/components/text.astro';
import Layout from '@/layouts/layout.astro';
import * as data from '@/libs/data';
---

<Layout>
  <Form.Root>
    <Grid.Root>
      <Grid.Row class="lg:grid-cols-[1fr_minmax(auto,var(--container-4xl))_minmax(var(--container-md),1fr)]">
        <Grid.Column class="border-r-0 lg:col-start-2">
          <ImageBox.Root name="image" class="h-120">
            <ImageBox.Upload accept="image/jpeg,image/png,image/webp,image/avif">
              <Text size="2">Drag and drop here or <Text as="span" size="2" underline>Browse</Text> files</Text>
              <Text variant="soft" size="1" italic>Supports JPEG, PNG, WEBP, AVIF</Text>
            </ImageBox.Upload>
            <ImageBox.PreviewBefore />
            <ImageBox.PreviewAfter />
            <ImageBox.Rail />
          </ImageBox.Root>
        </Grid.Column>
        <Grid.Column class="flex flex-col gap-10 border-r-0 p-10 not-lg:border-t lg:col-start-3">
          <Form.Field name="Algorithm">
            <Form.Label>Dithering Algorithm</Form.Label>
            <Select.Root defaultValue={data.ALGORITHMS.keys[0]}>
              {data.ALGORITHMS.mapper.map((map) => <Select.Option value={map.key}>{map.label}</Select.Option>)}
            </Select.Root>
            <Form.Description>Lorem ipsum dolor sit amet consectetur elit.</Form.Description>
          </Form.Field>
          <Form.Field name="colorPalettePreset">
            <Form.Label>Color Palette Preset</Form.Label>
            <Select.Root>
              {data.COLOR_PRESETS.mapper.map((map) => <Select.Option value={map.key}>{map.label}</Select.Option>)}
            </Select.Root>
            <Form.Description>Lorem ipsum dolor sit amet consectetur elit.</Form.Description>
          </Form.Field>
          <Button variant="gray-solid" class="mt-auto w-36 self-end"><Icon name="sparkles" /> Generate</Button>
        </Grid.Column>
      </Grid.Row>
      <Grid.Row class="lg:grid-cols-[1fr_minmax(auto,var(--container-4xl))_minmax(var(--container-md),1fr)]">
        <Grid.Column class="p-10 lg:col-start-2" />
      </Grid.Row>
    </Grid.Root>
  </Form.Root>
</Layout>
